@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: 700; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  font-size: 20px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif; }

p {
  font-size: 16px;
  color: #444444;
  font-family: "Arial", sans-serif; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.button {
  display: block;
  width: 245px;
  height: 52px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 52px;
  color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #67b737; }
  @media (max-width: 320px) {
    .button {
      width: 100%; } }

.main-header {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
  min-height: 160px;
  background-color: green; }
  @media (max-width: 768px) {
    .main-header {
      max-width: 768px;
      padding: 0 30px; } }
  @media (max-width: 320px) {
    .main-header {
      max-width: 320px;
      padding: 0 20px; } }
  @media (max-width: 768px) {
    .main-header {
      padding-top: 20px;
      padding-bottom: 20px;
      min-height: 950px; } }
  @media (max-width: 320px) {
    .main-header {
      padding-top: 10px;
      padding-bottom: 10px;
      min-height: 570px; } }

.main-header__nav {
  width: 100%;
  min-height: 70px;
  padding: 0 40px; }
  .main-header__nav::before, .main-header__nav::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .main-header__nav {
      padding: 0; } }
  @media (max-width: 320px) {
    .main-header__nav {
      padding: 0; } }

.main-header__logo {
  float: left;
  width: 50%;
  min-height: 70px;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 768px) {
    .main-header__logo {
      width: 27%; } }
  @media (max-width: 320px) {
    .main-header__logo {
      float: none;
      width: 100%;
      background-color: white; } }

.main-header__menu {
  float: left;
  width: 50%;
  min-height: 70px;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 768px) {
    .main-header__menu {
      width: 73%; } }
  @media (max-width: 320px) {
    .main-header__menu {
      float: none;
      width: 100%;
      background-color: white; } }

.main-footer {
  min-height: 150px; }
  .main-footer::before, .main-footer::after {
    content: "";
    display: table;
    clear: both; }
  @media mobile {
    .main-footer {
      min-height: 236px; } }

.main-footer__map {
  width: 100%;
  height: 400px; }
  @media (max-width: 768px) {
    .main-footer__map {
      padding-top: 200px; } }

.main-footer__contacts {
  width: 570px;
  height: 200px;
  margin: 90px 40px;
  background-color: white; }
  .main-footer__contacts::before, .main-footer__contacts::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .main-footer__contacts {
      width: 100%;
      position: relative;
      top: -200px;
      margin: 0; }
      .main-footer__contacts::before, .main-footer__contacts::after {
        content: "";
        display: table;
        clear: both; } }

.main-footer__invite {
  float: left;
  width: 50%;
  padding: 70px 60px;
  font-size: 20px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
  @media (max-width: 320px) {
    .main-footer__invite {
      font-size: 16px;
      padding: 0; } }

.main-footer__adress {
  float: right;
  width: 50%;
  padding: 70px 60px;
  font-size: 20px;
  line-height: 20px;
  color: #444444;
  font-family: "Arial", sans-serif; }
  @media (max-width: 320px) {
    .main-footer__adress {
      text-align: right;
      font-size: 14px;
      padding: 0; } }

.main-footer__logo,
.main-footer__socials,
.main-footer__link {
  float: left;
  width: 33.3%; }
  @media mobile {
    .main-footer__logo,
    .main-footer__socials,
    .main-footer__link {
      float: none;
      min-height: 78px; } }

.socials__list {
  margin: 0;
  padding: 0;
  list-style: 0; }

.socials__item {
  display: inline-block;
  width: 33.2%; }

.main-menu {
  text-align: right; }

.main-menu__item {
  display: inline-block;
  vertical-align: top;
  width: 32%;
  min-width: 169px;
  padding: 15px; }
  @media (max-width: 768px) {
    .main-menu__item {
      min-width: 162px; } }
  @media (max-width: 320px) {
    .main-menu__item {
      display: block;
      width: 100%;
      border-top: 1px solid #cbcbcb;
      text-align: center; } }

.main-menu__link {
  display: inline-block;
  height: 100%;
  color: white;
  text-transform: uppercase;
  text-decoration: none; }
  @media (max-width: 768px) {
    .main-menu__link {
      font-size: 18px; } }
  @media (max-width: 320px) {
    .main-menu__link {
      color: black; } }

.main-menu__link--current {
  border-bottom: 1px solid white; }

.subtitle__item {
  float: left;
  width: 50%;
  padding: 0 40px; }
  .subtitle__item::before, .subtitle__item::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .subtitle__item {
      float: none;
      width: 100%;
      padding: 0; } }

.selection {
  padding: 90px 80px; }
  @media (max-width: 768px) {
    .selection {
      padding: 40px 90px; } }
  @media (max-width: 768px) {
    .selection {
      padding: 40px 0; } }

.selection__title {
  font-size: 60px; }
  @media (max-width: 320px) {
    .selection__title {
      text-align: center;
      font-size: 36px;
      color: white; } }

.selection__slogan {
  text-transform: uppercase; }
  @media (max-width: 320px) {
    .selection__slogan {
      text-align: center;
      font-size: 14px;
      color: white; } }

.catalogs {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto; }
  .catalogs::before, .catalogs::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .catalogs {
      max-width: 768px;
      padding: 0 30px; } }
  @media (max-width: 320px) {
    .catalogs {
      max-width: 320px;
      padding: 0 20px; } }

.catalog {
  float: left;
  width: 38%;
  max-width: 570px;
  margin: 0 6%;
  padding: 50px;
  min-height: 367px;
  background-color: #f2f2f2; }
  @media (max-width: 768px) {
    .catalog {
      float: none;
      width: 100%;
      max-width: 708px;
      margin: 0;
      margin-bottom: 30px;
      min-height: 367px; } }
  @media (max-width: 320px) {
    .catalog {
      margin-bottom: 20px; } }

.catalog__icon {
  display: inline-block;
  vertical-align: top;
  width: 34%;
  width: 100px;
  height: 100px;
  overflow: visible;
  border-radius: 50%;
  background-color: #67b737; }
  @media (max-width: 768px) and (min-width: 321px) {
    .catalog__icon {
      display: block;
      float: right;
      width: 200px;
      height: 200px; } }

.catalog__title {
  display: inline-block;
  vertical-align: top;
  width: 65%; }
  @media (max-width: 768px) and (min-width: 321px) {
    .catalog__title {
      width: 55%; } }

@media (max-width: 768px) {
  .catalog__description {
    width: 55%; } }

@media (max-width: 320px) {
  .catalog__description {
    width: 100%;
    border-bottom: 1px solid #cbcbcb; } }

.catalog__link {
  text-transform: uppercase;
  color: #111111;
  text-decoration: none; }

.advantages {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
  min-height: 105px; }
  .advantages::before, .advantages::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .advantages {
      max-width: 768px;
      padding: 0 30px; } }
  @media (max-width: 320px) {
    .advantages {
      max-width: 320px;
      padding: 0 20px; } }

.advantages__title {
  font-size: 60px; }

.advantages__item {
  float: left;
  width: 25%;
  padding: 3%;
  min-height: 226px; }
  @media (max-width: 768px) {
    .advantages__item {
      width: 50%;
      padding-left: 0;
      padding-right: 12%; }
      .advantages__item:nth-child(2n+1) {
        padding-right: 0;
        padding-left: 12%; } }
  @media (max-width: 320px) {
    .advantages__item {
      float: none;
      width: 100%;
      padding: 0;
      padding-bottom: 20px; }
      .advantages__item::before, .advantages__item::after {
        content: "";
        display: table;
        clear: both; }
      .advantages__item:nth-child(2n+1) {
        padding: 0; } }

.advantages__icon {
  width: 80px;
  height: 80px;
  background-color: #67b737; }
  @media (max-width: 320px) {
    .advantages__icon {
      float: left;
      width: 80px; } }
  @media (max-width: 320px) {
    .advantages__icon .advantages__description {
      float: right;
      width: 200px; } }

.example {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
  min-height: 600px; }
  .example::before, .example::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .example {
      max-width: 768px;
      padding: 0 30px; } }
  @media (max-width: 320px) {
    .example {
      max-width: 320px;
      padding: 0 20px; } }

.example__content {
  float: left;
  width: 50%;
  min-height: 455px;
  padding: 0 40px; }
  @media (max-width: 768px) {
    .example__content {
      float: none;
      width: 100%;
      padding: 0; } }

.catalog-main {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .catalog-main {
      max-width: 768px;
      padding: 0 30px; } }
  @media (max-width: 320px) {
    .catalog-main {
      max-width: 320px;
      padding: 0 20px; } }

.product-catalog__title {
  font-size: 60px;
  color: #111111;
  font-family: "Oswald", sans-serif; }

.product-catalog {
  font-size: 0; }

@media (max-width: 768px) {
  .product-catalog__inner {
    margin-left: -20px;
    margin-right: -20px; } }

.product {
  display: inline-block;
  vertical-align: top;
  width: 245px;
  height: 560px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 40px;
  background-color: #f2f2f2; }
  @media (max-width: 768px) {
    .product {
      width: 324px;
      height: 205px;
      margin-left: 20px;
      margin-right: 20px; } }
  @media (max-width: 320px) {
    .product {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
      .product::before, .product::after {
        content: "";
        display: table;
        clear: both; } }

.product__image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden; }
  @media (max-width: 320px) {
    .product__image {
      float: left;
      width: 100px;
      height: 115px; } }

.product__image img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  /* object-fit: contein; */ }

.product__caption {
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

.product__table {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial";
  border-collapse: collapse; }

.product__table tr {
  border-bottom: 1px solid #cbcbcb; }
  @media (max-width: 320px) {
    .product__table tr {
      border: none; } }

.product__table td {
  padding-top: 5px;
  padding-bottom: 5px; }

.product__table td:nth-child(n+2) {
  text-align: right; }

.product-catalog .button {
  width: 167px;
  height: 40px;
  font-size: 16px;
  line-height: 40px; }

.additional-products {
  padding-left: 40px;
  padding-right: 40px; }
  .additional-products::before, .additional-products::after {
    content: "";
    display: table;
    clear: both; }

.additional-products__title {
  font-size: 36px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif; }

.additional-products__table {
  float: left;
  width: 898px;
  display: table;
  max-width: 100%;
  border-collapse: collapse; }
  @media (max-width: 768px) {
    .additional-products__table {
      float: none;
      width: 100%;
      height: 200px; } }

.additional-products__row {
  display: table-row;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb; }

.additional-products__cell {
  display: table-cell;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.2px;
  color: #444444;
  font-family: "Arial", sans-serif; }

.additional-products__cell:nth-child(4n+1) {
  font-size: 20px;
  line-height: 1.2px;
  color: #222222;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.additional-products .button {
  width: 245px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  margin-right: 0; }

.addtional-products__present {
  float: right;
  width: 245px;
  height: 290px;
  background: green; }
  @media (max-width: 768px) {
    .addtional-products__present {
      float: none;
      width: 100%;
      height: 200px; } }

.present__text {
  padding: 45px 40px;
  font-size: 16px;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center; }

.additional-products {
  padding-left: 40px;
  padding-right: 40px; }
  .additional-products::before, .additional-products::after {
    content: "";
    display: table;
    clear: both; }

.additional-products__title {
  font-size: 36px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif; }

.additional-products__table {
  float: left;
  width: 898px;
  display: table;
  max-width: 100%;
  border-collapse: collapse; }
  @media (max-width: 768px) {
    .additional-products__table {
      float: none;
      width: 100%;
      height: 200px; } }

.additional-products__row {
  display: table-row;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb; }

.additional-products__cell {
  display: table-cell;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.2px;
  color: #444444;
  font-family: "Arial", sans-serif; }

.additional-products__cell:nth-child(4n+1) {
  font-size: 20px;
  line-height: 1.2px;
  color: #222222;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.additional-products .button {
  width: 245px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  margin-right: 0; }

.addtional-products__present {
  float: right;
  width: 245px;
  height: 290px;
  background: green; }
  @media (max-width: 768px) {
    .addtional-products__present {
      float: none;
      width: 100%;
      height: 200px; } }

.present__text {
  padding: 45px 40px;
  font-size: 16px;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center; }
