@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Regular.ttf") format(truetype);
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald-Bold.ttf") format(truetype);
  font-style: normal;
  font-weight: 700; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
  overflow-x: hidden;
  font-size: 20px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif; }
  @media (max-width: 768px) {
    body {
      max-width: 768px;
      padding: 0 30px; } }
  @media (max-width: 320px) {
    body {
      max-width: 320px;
      padding: 0 20px; } }

p {
  font-size: 16px;
  color: #444444;
  font-family: "Arial", sans-serif; }

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.button {
  display: block;
  width: 245px;
  height: 52px;
  margin: 0 auto;
  font-size: 20px;
  line-height: 52px;
  color: white;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  background-color: #67b737; }
  @media (max-width: 320px) {
    .button {
      width: 100%; } }

.main-header {
  padding-top: 54px;
  min-height: 140px; }
  @media (max-width: 768px) {
    .main-header {
      padding-top: 20px;
      padding-bottom: 20px; } }
  @media (max-width: 320px) {
    .main-header {
      padding-top: 0;
      padding-bottom: 0;
      min-height: 264px; } }

.main-header__nav {
  width: 100%;
  min-height: 70px; }
  .main-header__nav::before, .main-header__nav::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .main-header__nav {
      padding: 0; } }
  @media (max-width: 320px) {
    .main-header__nav {
      padding: 0; } }

.main-header__logo {
  float: left;
  width: 50%;
  min-height: 70px;
  margin: 0;
  padding: 0 40px;
  list-style: none; }
  @media (max-width: 768px) {
    .main-header__logo {
      width: 27%;
      padding: 0; } }
  @media (max-width: 320px) {
    .main-header__logo {
      float: none;
      width: 100%;
      background-color: white; } }
  .main-header__logo .main-header__link {
    display: block; }

.main-header__logo-icon {
  display: inline-block;
  vertical-align: top;
  width: 209px;
  height: 38px;
  background: url("../img/logo-desktop.svg") 50% 50% no-repeat; }
  @media (max-width: 320px) {
    .main-header__logo-icon {
      background-image: url("../img/logo-mobile-header.svg");
      background-size: 209px 38px; } }

.main-header__menu {
  float: left;
  width: 50%;
  min-height: 70px;
  margin: 0;
  padding: 0;
  list-style: none; }
  @media (max-width: 768px) {
    .main-header__menu {
      width: 73%; } }
  @media (max-width: 320px) {
    .main-header__menu {
      float: none;
      width: 100%;
      background-color: white; } }

.main-menu {
  text-align: right;
  font-size: 0; }

.main-menu__item {
  display: inline-block;
  vertical-align: top;
  width: 33.3%;
  min-width: 169px;
  padding: 5px;
  padding-top: 20px; }
  .main-menu__item:first-child {
    padding-left: 0; }
  .main-menu__item:last-child {
    padding-right: 0; }
  @media (max-width: 768px) {
    .main-menu__item {
      min-width: 162px; } }
  @media (max-width: 320px) {
    .main-menu__item {
      display: block;
      width: 100%;
      padding: 0;
      border-top: 1px solid #cbcbcb;
      text-align: center; } }

.main-menu__link {
  display: inline-block;
  height: 65px;
  font-size: 20px;
  line-height: 25px;
  color: white;
  font-family: "Oswald";
  text-transform: uppercase;
  text-decoration: none; }
  @media (max-width: 768px) {
    .main-menu__link {
      font-size: 18px;
      color: #111111; } }
  @media (max-width: 320px) {
    .main-menu__link {
      font-size: 20px;
      line-height: 60px; } }

.main-menu__link--current {
  border-bottom: 1px solid white; }
  @media (max-width: 768px) {
    .main-menu__link--current {
      border-bottom: 4px solid #67b737; } }
  @media (max-width: 320px) {
    .main-menu__link--current {
      border-bottom: none; } }

.main-footer {
  background-color: #f2f2f2;
  margin-left: -70px;
  margin-right: -70px;
  padding-left: 70px;
  padding-right: 70px; }
  .main-footer::before, .main-footer::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .main-footer {
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-right: 30px; } }
  @media (max-width: 320px) {
    .main-footer {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      min-height: 236px; } }

.main-footer__map {
  position: relative;
  height: 400px;
  background: #f2f2f2 url("../img/map.png") no-repeat 50% 50%;
  padding: 95px;
  margin-left: -70px;
  margin-right: -70px;
  padding-left: 110px;
  padding-right: 110px; }
  .main-footer__map::after {
    content: "";
    position: absolute;
    top: 140px;
    right: 310px;
    width: 113px;
    height: 106px;
    background: #f2f2f2 url("../img/map-pin.png") no-repeat 50% 50%; }
    @media (max-width: 768px) {
      .main-footer__map::after {
        top: 50%;
        right: 50%;
        margin-top: -40px;
        margin-right: -40px;
        width: 80px;
        height: 80px;
        background-size: contain; } }
    @media (max-width: 320px) {
      .main-footer__map::after {
        margin-top: -27px;
        margin-right: -27px;
        width: 55px;
        height: 55px; } }
  @media (max-width: 768px) {
    .main-footer__map {
      position: relative;
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-right: 30px;
      margin-top: 200px;
      background-image: url("../img/map-tablet.png"); } }
  @media (max-width: 320px) {
    .main-footer__map {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 115px;
      background-image: url("../img/map-mobile.png"); } }

.main-footer__contacts {
  width: 570px;
  height: 200px;
  background-color: white; }
  .main-footer__contacts::before, .main-footer__contacts::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .main-footer__contacts {
      width: 768px;
      height: 200px;
      width: 100%;
      position: absolute;
      top: -200px;
      margin: 0;
      margin-left: -30px;
      margin-right: -30px; }
      .main-footer__contacts::before, .main-footer__contacts::after {
        content: "";
        display: table;
        clear: both; } }
  @media (max-width: 320px) {
    .main-footer__contacts {
      width: 320px;
      height: 115px;
      margin-left: -20px;
      margin-right: -20px;
      top: -115px; } }

.main-footer__invite {
  float: left;
  width: 50%;
  padding: 66px 77px;
  font-size: 20px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }
  @media (max-width: 768px) {
    .main-footer__invite {
      padding-right: 85px;
      padding-left: 70px; } }
  @media (max-width: 320px) {
    .main-footer__invite {
      font-size: 16px;
      padding: 30px 20px;
      padding-right: 0; } }

.main-footer__adress {
  float: right;
  width: 50%;
  padding: 66px 44px;
  font-size: 16px;
  line-height: 1.2;
  color: #444444;
  font-family: "Arial", sans-serif; }
  @media (max-width: 768px) {
    .main-footer__adress {
      text-align: right;
      padding-left: 125px;
      padding-right: 55px; } }
  @media (max-width: 320px) {
    .main-footer__adress {
      font-size: 14px;
      padding: 30px 20px;
      padding-left: 0;
      text-align: left; } }

.main-footer__row {
  min-height: 150px;
  padding: 50px 40px; }
  .main-footer__row::before, .main-footer__row::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .main-footer__row {
      padding-left: 0;
      padding-right: 0; } }
  @media (max-width: 320px) {
    .main-footer__row {
      padding: 0; } }

.main-footer__logo,
.main-footer__socials,
.main-footer__developed {
  float: left;
  width: 33.3%; }
  @media (max-width: 320px) {
    .main-footer__logo,
    .main-footer__socials,
    .main-footer__developed {
      float: none;
      display: block;
      min-height: 78px;
      width: 100%;
      text-align: center;
      padding-top: 20px; } }

.main-footer__link svg {
  position: relative;
  top: 15px;
  margin-left: 20px; }

@media (max-width: 320px) {
  .main-footer__socials {
    border-top: 1px solid #cbcbcb;
    border-bottom: 1px solid #cbcbcb; } }

.socials__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
  text-align: center; }

.socials__item {
  display: inline-block;
  vertical-align: middle;
  width: 40px;
  height: 40px; }

.socials__link {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%; }
  .socials__link--vk {
    background: url("../img/icon-vk.svg") no-repeat 50% 50%; }
    .socials__link--vk:hover {
      background-image: url("../img/icon-vk.svg"); }
  .socials__link--inst {
    background: url("../img/icon-inst.svg") no-repeat 50% 50%; }
    .socials__link--inst:hover {
      background-image: url("../img/icon-inst.svg"); }
  .socials__link--fb {
    background: url("../img/icon-fb.svg") no-repeat 50% 50%; }
    .socials__link--fb:hover {
      background-image: url("../img/icon-fb.svg"); }

.main-footer__developed {
  text-align: right; }
  @media (max-width: 320px) {
    .main-footer__developed {
      text-align: left; } }
  @media (max-width: 320px) {
    .main-footer__developed svg {
      float: right;
      top: 0; } }

.main-footer__link {
  font-size: 16px;
  line-height: 1.2;
  color: #444444;
  font-family: "Arial";
  text-decoration: none; }

.subtitle {
  min-height: 560px;
  margin-bottom: 75px; }
  .subtitle::before, .subtitle::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 320px) {
    .subtitle {
      margin-left: -20px;
      margin-right: -20px;
      margin-bottom: 0;
      min-height: auto; } }

.subtitle__item {
  float: left;
  width: 50%;
  min-height: 556px;
  padding: 0 40px;
  position: relative; }
  @media (max-width: 768px) {
    .subtitle__item {
      float: none;
      width: 100%;
      padding: 0; } }
  @media (max-width: 768px) {
    .subtitle__item--left {
      min-height: 500px;
      padding-bottom: 70px; } }
  @media (max-width: 320px) {
    .subtitle__item--left {
      background: url("../img/index-background-mobile.jpg") no-repeat 50% 0%;
      background-size: 320px 305px; } }
  @media (max-width: 768px) {
    .subtitle__item--right {
      height: auto;
      min-height: 230px; } }
  @media (max-width: 320px) {
    .subtitle__item--right {
      min-height: auto; } }

.subtitle__image {
  position: absolute;
  bottom: 0;
  left: 40px;
  width: 680px;
  height: 695px;
  background: #67b737 url("../img/index-background-desktop.jpg") no-repeat 50% 50%;
  z-index: -10; }
  @media (max-width: 768px) {
    .subtitle__image {
      background: none;
      width: 585px;
      height: 620px;
      left: 50%;
      margin-left: -265px;
      top: -300px; } }
  @media (max-width: 320px) {
    .subtitle__image {
      background: none;
      width: 305px;
      height: 270px;
      margin-left: -155px;
      top: -333px;
      z-index: 9; } }
  .subtitle__image img {
    position: absolute;
    top: 140px;
    right: 327px; }
    @media (max-width: 768px) {
      .subtitle__image img {
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        max-width: 100%;
        height: 100%;
        max-height: 100%;
        object-fit: cover; } }

.selection {
  padding: 90px 78px;
  padding-top: 40px; }
  @media (max-width: 768px) {
    .selection {
      padding: 40px 90px;
      padding-top: 0; } }
  @media (max-width: 320px) {
    .selection {
      padding: 25px 20px; } }

.selection__title {
  margin-bottom: 42px;
  font-size: 60px;
  font-weight: 400;
  line-height: 1; }
  @media (max-width: 768px) {
    .selection__title {
      margin-top: 0;
      margin-bottom: 40px; } }
  @media (max-width: 320px) {
    .selection__title {
      margin-bottom: 25px;
      text-align: center;
      font-size: 36px;
      color: white; } }

.selection__slogan {
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 400;
  color: #111111;
  font-family: "Oswald"; }
  @media (max-width: 768px) {
    .selection__slogan {
      margin-bottom: 40px; } }
  @media (max-width: 320px) {
    .selection__slogan {
      text-align: center;
      font-size: 14px;
      color: white; } }

.selection__button {
  margin-left: 0; }
  @media (max-width: 320px) {
    .selection__button {
      width: 280px;
      height: 40px;
      position: absolute;
      bottom: 20px;
      left: 50%;
      width: 280px;
      margin-left: -140px;
      font-size: 14px;
      line-height: 40px; } }

.catalogs {
  margin-bottom: 15px; }
  .catalogs::before, .catalogs::after {
    content: "";
    display: table;
    clear: both; }

.catalog {
  float: left;
  width: 570px;
  margin: 0 40px;
  padding: 50px;
  min-height: 373px;
  background-color: #f2f2f2; }
  @media (max-width: 768px) {
    .catalog {
      float: none;
      width: 100%;
      max-width: 708px;
      margin: 0;
      margin-bottom: 30px;
      min-height: 367px; } }
  @media (max-width: 320px) {
    .catalog {
      margin-bottom: 20px;
      padding: 20px;
      min-height: 270px; } }

.catalog__icon {
  display: inline-block;
  vertical-align: top;
  margin-right: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #67b737; }
  @media (max-width: 768px) and (min-width: 321px) {
    .catalog__icon {
      display: block;
      float: right;
      margin-right: 0;
      margin-top: 45px;
      width: 200px;
      height: 200px; } }
  @media (max-width: 320px) {
    .catalog__icon {
      width: 50px;
      height: 50px;
      margin-right: 20px; } }
  .catalog__icon svg {
    display: block;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .catalog__icon svg {
        width: 170px;
        height: 185px; } }
    @media (max-width: 320px) {
      .catalog__icon svg {
        display: block;
        width: 40px;
        height: 47px;
        margin: 0 auto; } }

.catalog--pro svg {
  position: relative;
  top: 20px;
  left: -20px; }
  @media (max-width: 320px) {
    .catalog--pro svg {
      width: 76px;
      height: 56px;
      top: 0;
      left: -15px; } }

.catalog__title {
  display: inline-block;
  vertical-align: top;
  width: 300px;
  font-size: 36px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald";
  text-transform: uppercase;
  font-weight: 400; }
  @media (max-width: 768px) and (min-width: 321px) {
    .catalog__title {
      width: 370px;
      margin-bottom: 20px; } }
  @media (max-width: 320px) {
    .catalog__title {
      width: 145px;
      font-family: Oswald;
      font-size: 24px;
      line-height: 37px; } }

.catalog__description {
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.4;
  color: #444444;
  font-family: "Arial"; }
  @media (max-width: 768px) and (min-width: 321px) {
    .catalog__description {
      width: 375px;
      margin-top: 0;
      margin-bottom: 60px;
      line-height: 1.5; } }
  @media (max-width: 320px) {
    .catalog__description {
      width: 100%;
      border-bottom: 1px solid #cbcbcb;
      margin-top: 12px;
      margin-bottom: 12px;
      padding-bottom: 20px;
      font-size: 14px;
      line-height: 18px; } }

.catalog__link {
  text-transform: uppercase;
  color: #111111;
  text-decoration: none; }
  @media (max-width: 320px) {
    .catalog__link {
      font-size: 16px;
      line-height: 16px; } }

.advantages {
  min-height: 105px;
  margin-bottom: 35px; }
  .advantages::before, .advantages::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .advantages {
      margin-bottom: 100px; } }

.advantages__title {
  padding: 0 40px;
  margin-bottom: 68px;
  font-size: 60px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald";
  font-weight: 400; }
  @media (max-width: 768px) {
    .advantages__title {
      padding: 0;
      margin-top: 12px; } }
  @media (max-width: 768px) {
    .advantages__title {
      font-size: 36px;
      line-height: 60px; } }

.advantages__item {
  float: left;
  width: 325px;
  padding: 0 40px;
  min-height: 226px; }
  @media (max-width: 768px) {
    .advantages__item {
      width: 50%;
      padding-left: 0;
      padding-right: 40px;
      margin-bottom: 90px; }
      .advantages__item:nth-child(2n+1) {
        padding-right: 0;
        padding-left: 40px; } }
    @media (max-width: 768px) and (max-width: 320px) {
      .advantages__item:nth-child(2n+1) {
        padding-left: 0; } }
  @media (max-width: 768px) {
      .advantages__item:nth-last-child(-n+2) {
        margin-bottom: 0; } }
  @media (max-width: 320px) {
    .advantages__item {
      float: none;
      width: 100%;
      min-height: auto;
      padding: 0;
      padding-bottom: 20px;
      margin: 0; }
      .advantages__item::before, .advantages__item::after {
        content: "";
        display: table;
        clear: both; } }

.advantages__icon {
  width: 80px;
  height: 80px;
  background: url("../img/advantage-1.png") no-repeat 50% 50%;
  background-color: #67b737; }
  .advantages__icon--number-two {
    background-image: url("../img/advantage-2.png"); }
  .advantages__icon--number-three {
    background-image: url("../img/advantage-3.png"); }
  .advantages__icon--number-four {
    background-image: url("../img/advantage-4.png"); }
  @media (max-width: 320px) {
    .advantages__icon {
      float: left;
      width: 60px;
      height: 60px; } }

.advantages__description {
  padding-top: 35px;
  font-size: 16px;
  color: #444444;
  font-family: "Arial", sans-serif;
  line-height: 1.5; }
  @media (max-width: 320px) {
    .advantages__description {
      float: right;
      width: 194px;
      margin: 0;
      padding: 0;
      font-size: 14px;
      line-height: 18px; } }

.example {
  min-height: 646px;
  padding-bottom: 60px;
  background: #f2f2f2;
  margin-left: -70px;
  margin-right: -70px;
  padding-left: 70px;
  padding-right: 70px; }
  .example::before, .example::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .example {
      margin-left: -30px;
      margin-right: -30px;
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 0;
      background: #ffffff; } }
  @media (max-width: 320px) {
    .example {
      margin-left: -20px;
      margin-right: -20px;
      padding-left: 20px;
      padding-right: 20px;
      background: #f2f2f2; } }

.example__title {
  padding: 0 110px;
  padding-bottom: 68px;
  padding-top: 40px;
  margin: 0;
  margin-right: -70px;
  margin-left: -70px;
  background: white;
  font-size: 60px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald";
  font-weight: 400; }
  @media (max-width: 768px) {
    .example__title {
      padding: 0 70px; } }
  @media (max-width: 320px) {
    .example__title {
      padding: 0 70px;
      font-size: 36px;
      line-height: 60px; } }

.example__content {
  position: relative;
  float: left;
  width: 50%;
  min-height: 390px;
  padding: 0 40px; }
  @media (max-width: 768px) {
    .example__content {
      float: none;
      width: 100%;
      padding: 0; } }
  @media (max-width: 320px) {
    .example__content {
      min-height: 350px; } }

.example__text {
  margin-top: 75px;
  margin-bottom: 75px;
  padding-right: 135px;
  font-size: 16px;
  line-height: 1.4;
  color: #444444;
  font-family: "Arial"; }
  @media (max-width: 768px) {
    .example__text {
      padding: 0;
      margin-top: 55px;
      margin-bottom: 60px; } }
  @media (max-width: 320px) {
    .example__text {
      margin-top: 25px;
      margin-bottom: 25px;
      font-size: 14px;
      line-height: 18px; } }

.example__num {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 30px;
  color: #111111;
  font-family: "Oswald";
  text-align: center;
  text-transform: uppercase; }
  @media (max-width: 320px) {
    .example__num {
      margin-bottom: 0;
      font-size: 24px;
      line-height: 24px; } }

.example__label {
  display: block;
  padding: 5px;
  width: 137px;
  margin: 0 auto;
  font-size: 14px;
  color: #444444;
  font-family: "Arial";
  text-align: center;
  background: #f2f2f2; }
  @media (max-width: 768px) {
    .example__label {
      background: #ffffff; } }
  @media (max-width: 320px) {
    .example__label {
      width: 80px;
      font-size: 12px;
      line-height: 12px;
      background: #f2f2f2; } }

.example__time,
.example__weight {
  float: left;
  width: 160px;
  height: 80px;
  margin-right: 40px;
  border-radius: 3px;
  border: 1px solid #cdcdcd;
  text-align: center; }
  @media (max-width: 320px) {
    .example__time,
    .example__weight {
      width: 125px;
      height: 58px;
      margin-right: 12px; } }

.example__time {
  margin-right: 100px; }
  @media (max-width: 320px) {
    .example__time {
      margin-right: 0; } }

.example__costs {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald";
  text-transform: uppercase; }
  .example__costs::before, .example__costs::after {
    content: "";
    display: table;
    clear: both; }
  @media (max-width: 768px) {
    .example__costs {
      position: static; } }
  @media (max-width: 320px) {
    .example__costs {
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding-top: 80px; } }

@media (max-width: 768px) {
  .example__cost {
    float: right;
    width: 175px; } }

@media (max-width: 320px) {
  .example__cost {
    float: none; } }

.example__amount {
  text-align: right; }
  @media (max-width: 768px) {
    .example__amount {
      float: right;
      width: 175px; } }
  @media (max-width: 320px) {
    .example__amount {
      float: none; } }

.example__content--right {
  position: relative; }
  @media (max-width: 768px) {
    .example__content--right {
      min-height: 500px;
      background: #f2f2f2;
      padding: 70px 65px; } }

.example__image {
  position: absolute;
  width: 610px;
  height: 500px;
  bottom: 50px;
  left: 0;
  overflow: hidden;
  background-color: #f2f2f2; }
  @media (max-width: 768px) {
    .example__image {
      bottom: 100px;
      width: 610px;
      height: 500px; } }
  @media (max-width: 320px) {
    .example__image {
      width: 280px;
      height: 260px; } }
  .example__image img {
    object-fit: contain; }

.example__image--left {
  z-index: 3; }

.example__image--right {
  z-index: 2; }

.example__toggle {
  position: absolute;
  bottom: -15px;
  width: 570px;
  height: 50px; }
  @media (max-width: 768px) {
    .example__toggle {
      bottom: 20px; } }

.toggle__scale {
  display: inline-block;
  vertical-align: middle;
  width: 428px;
  height: 6px;
  margin: 0 10px;
  background-color: gainsboro;
  border-radius: 3px; }
  @media (max-width: 320px) {
    .toggle__scale {
      position: relative;
      width: 90px;
      height: 16px;
      padding: 3px;
      background-color: #ffffff; } }

.toggle__control {
  position: absolute;
  top: 0;
  left: 150px;
  width: 7px;
  height: 7px;
  box-sizing: content-box;
  border: 14px solid #ffffff;
  border-radius: 50%;
  background-color: #67b737;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15); }
  @media (max-width: 320px) {
    .toggle__control {
      border: none;
      width: 50px;
      height: 8px;
      border-radius: 10px;
      top: 4px;
      left: 0; } }

.toggle__label {
  display: inline-block;
  vertical-align: baseline;
  font-family: Oswald;
  font-size: 20px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  border-bottom: 1px dotted #000000; }
  @media (max-width: 320px) {
    .toggle__label {
      font-size: 16px;
      border-bottom: none; } }

.catalog-main {
  width: 100%;
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .catalog-main {
      max-width: 768px;
      padding: 0 30px; } }
  @media (max-width: 320px) {
    .catalog-main {
      max-width: 320px;
      padding: 0 20px; } }

.product-catalog__title {
  font-size: 60px;
  color: #111111;
  font-family: "Oswald", sans-serif; }

.product-catalog {
  font-size: 0; }

@media (max-width: 768px) {
  .product-catalog__inner {
    margin-left: -20px;
    margin-right: -20px; } }

.product {
  display: inline-block;
  vertical-align: top;
  width: 245px;
  height: 560px;
  margin-top: 80px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 40px;
  background-color: #f2f2f2; }
  @media (max-width: 768px) {
    .product {
      width: 324px;
      height: 205px;
      margin-left: 20px;
      margin-right: 20px; } }
  @media (max-width: 320px) {
    .product {
      display: block;
      width: 100%;
      margin-left: 0;
      margin-right: 0; }
      .product::before, .product::after {
        content: "";
        display: table;
        clear: both; } }

.product__image {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden; }
  @media (max-width: 320px) {
    .product__image {
      float: left;
      width: 100px;
      height: 115px; } }

.product__image img {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 100%;
  height: 100%;
  max-height: 100%;
  object-fit: cover;
  /* object-fit: contein; */ }

.product__caption {
  font-size: 20px;
  line-height: 20px;
  color: #111111;
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase; }

.product__table {
  width: 100%;
  max-width: 100%;
  font-size: 16px;
  line-height: 16px;
  color: #444444;
  font-family: "Arial";
  border-collapse: collapse; }

.product__table tr {
  border-bottom: 1px solid #cbcbcb; }
  @media (max-width: 320px) {
    .product__table tr {
      border: none; } }

.product__table td {
  padding-top: 5px;
  padding-bottom: 5px; }

.product__table td:nth-child(n+2) {
  text-align: right; }

.product-catalog .button {
  width: 167px;
  height: 40px;
  font-size: 16px;
  line-height: 40px; }

.additional-products {
  padding-left: 40px;
  padding-right: 40px; }
  .additional-products::before, .additional-products::after {
    content: "";
    display: table;
    clear: both; }

.additional-products__title {
  font-size: 36px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif; }

.additional-products__table {
  float: left;
  width: 898px;
  display: table;
  max-width: 100%;
  border-collapse: collapse; }
  @media (max-width: 768px) {
    .additional-products__table {
      float: none;
      width: 100%;
      height: 200px; } }

.additional-products__row {
  display: table-row;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb; }

.additional-products__cell {
  display: table-cell;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.2px;
  color: #444444;
  font-family: "Arial", sans-serif; }

.additional-products__cell:nth-child(4n+1) {
  font-size: 20px;
  line-height: 1.2px;
  color: #222222;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.additional-products .button {
  width: 245px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  margin-right: 0; }

.addtional-products__present {
  float: right;
  width: 245px;
  height: 290px;
  background: green; }
  @media (max-width: 768px) {
    .addtional-products__present {
      float: none;
      width: 100%;
      height: 200px; } }

.present__text {
  padding: 45px 40px;
  font-size: 16px;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center; }

.additional-products {
  padding-left: 40px;
  padding-right: 40px; }
  .additional-products::before, .additional-products::after {
    content: "";
    display: table;
    clear: both; }

.additional-products__title {
  font-size: 36px;
  line-height: 1.2;
  color: #111111;
  font-family: "Oswald", sans-serif; }

.additional-products__table {
  float: left;
  width: 898px;
  display: table;
  max-width: 100%;
  border-collapse: collapse; }
  @media (max-width: 768px) {
    .additional-products__table {
      float: none;
      width: 100%;
      height: 200px; } }

.additional-products__row {
  display: table-row;
  border-top: 1px solid #cbcbcb;
  border-bottom: 1px solid #cbcbcb; }

.additional-products__cell {
  display: table-cell;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 16px;
  line-height: 1.2px;
  color: #444444;
  font-family: "Arial", sans-serif; }

.additional-products__cell:nth-child(4n+1) {
  font-size: 20px;
  line-height: 1.2px;
  color: #222222;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase; }

.additional-products .button {
  width: 245px;
  height: 40px;
  font-size: 16px;
  line-height: 40px;
  margin-right: 0; }

.addtional-products__present {
  float: right;
  width: 245px;
  height: 290px;
  background: green; }
  @media (max-width: 768px) {
    .addtional-products__present {
      float: none;
      width: 100%;
      height: 200px; } }

.present__text {
  padding: 45px 40px;
  font-size: 16px;
  color: white;
  font-family: "Arial", sans-serif;
  text-align: center; }
