// .foo {
//     @include size(100px, 20px);

@mixin clearfix() {
    &::before, &::after {
        content: "";
        display: table;
        clear: both;
    }  
}
@mixin size($width: 50px, $height: $width) {
    width: $width;
    height: $height;
}
@mixin container() {
    width: 100%;
    max-width: 1440px;
    padding: 0 70px;
    margin: 0 auto;
    @media #{$tablet} {
        max-width: 768px;
        padding: 0 30px;
    }
    @media #{$mobile} {
        max-width: 320px;
        padding: 0 20px;
    }
}
