.additional-products {
    // @include clearfix();
    // padding-left: 40px;
    // padding-right: 40px;
    margin-bottom: 85px;
    @media #{$tablet} {
        margin-bottom: 75px;
    }
    @media #{$mobile} {
        margin-bottom: 35px;
        padding: 0;
    }
}
.additional-products__title {
    position: relative;
    margin-bottom: 73px;
    padding: 0 20px;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(17,17,17);
    font-family: "Oswald", sans-serif;
    @media #{$tablet} {
        margin-bottom: 77px;
    }
    @media #{$mobile} {
        font-size: 24px;
    }
    &::after {
        content: "";
        position: absolute;
        top: 50%;
        left: -30px;
        margin-top: 2px;
        @include size(100%, 4px);
        background-color: $icon-bg;
        z-index: -2;
        @media #{$mobile} {
            width: 20px;
            left: auto;
            
        }
    }
    span {
        padding: 0 20px;
        background-color: rgb(255,255,255);
    }
}
.additional-products__inner {
    display: flex;
    align-items: center;
    @media #{$tablet} {
        flex-direction: column;
    }
}
.additional-products__table {
    // float: left;
    width: 69%;
    margin-left: 3%;
    margin-right: 3%;
    display: table;
    max-width: 100%;
    border-collapse: collapse;
    @media #{$tablet} {
        // float: none;
        // display: block;
        width: 100%;
        margin: 0;
        margin-bottom: 70px;
        border-bottom: 1px solid rgb(203,203,203);
    }
    @media #{$mobile} {
        margin-bottom: 35px;
    }
}
.additional-products__row {
    display: table-row;
    height: 72px;
    border-top: 1px solid rgb(203,203,203);
    border-bottom: 1px solid rgb(203,203,203);
    @media #{$tablet} {
        display: table;
        @include size(90%, 139px);
        border-collapse: collapse;
        border-bottom: none;
        padding-left: 40px;
        padding-right: 40px;
        margin-left: 5%;
        margin-right: 5%;
    }
    @media #{$mobile} {
        display: block;
        height: 128px;
    }
}
.additional-products__cell {
    display: table-cell;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 16px;
    line-height: 1.2px;
    color: rgb(68,68,68);
    font-family: "Arial", sans-serif;
    @media #{$tablet} {
        text-align: right;
        height: 67px;
        padding-top: 35px;
    }
    @media #{$mobile} {
        height: 20px;
        padding: 15px 0;
        font-size: 14px;
    }
    &:nth-child(4n+1) {
        font-size: 20px;
        line-height: 1.2px;
        color: rgb(34,34,34);
        font-family: "Oswald", sans-serif;
        text-transform: uppercase;
        @media #{$tablet} {
            text-align: left;
        }
        @media #{$mobile} {
            display: block;
            width: 100%;
            font-size: 16px;
        }
    }
    &:nth-child(4n+2) {
        @media #{$mobile} {
            display: inline-block;
            width: 49%;
            text-align: left;
        }
    }
    &:nth-child(4n+3) {
        @media #{$mobile} {
            display: inline-block;
            width: 49%;
        }
    }
    &:nth-child(4n) {
        width: 245px;
        @media #{$tablet} {
            display: table-row;
            width: 100%;
        }
        @media #{$mobile} {
            display: block;
            width: 100%;
            padding-top: 5px;
        }
    }
}
.additional-products__button {
    @include size(245px, 40px);
    font-size: 16px;
    line-height: 40px;
    margin-right: 0;
    @media #{$tablet} {
        // width: 630px;
        width: 83%;
        margin: 0;
        position: absolute;
    }
    @media #{$mobile} {
        position: static;
        width: 280px;
        margin: 0 auto;
    }
}
.addtional-products__present {
    // float: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    padding-bottom: 30px;
    @include size(19%, 290px);
    margin-left: 3%;
    margin-right: 3%;
    background: $icon-bg url("../img/catalog-photo-desktop.jpg") 50% 50% no-repeat;
    @media #{$tablet} and (min-width: 321px) {
        // @include clearfix();
        // float: none;
        flex-direction: row;
        @include size(100%, 200px);
        background-image: url("../img/catalog-photo-tablet.jpg");
        margin-left: -40px;
        margin-right: -40px;
        padding-bottom: 40px;
    }
    @media #{$mobile} {
        float: none;
        width: 280px;
        background-size: cover;
    }
}
.present__icon {
    // position: relative;
    display: flex;
    @include size(100%, 120px);
    @media #{$tablet}  and (min-width: 321px) {
        // float: left;
        // margin: 0;
        @include size(50%, auto);
        margin-left: 8%;
    }
    @media #{$mobile} {
        height: 180px;
    }
    svg {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // margin-left: -27px;
        // margin-top: -27px;
        margin: auto;
        @media #{$tablet} {
           margin: 0;;
        }
    }
}
.present__text {
    // padding: 35px 40px;
    font-size: 16px;
    color: rgb(255,255,255);
    font-family: "Arial", sans-serif;
    text-align: center;
    @media #{$tablet} and (min-width: 321px) {
        // float: right;
        width: 50%;
        padding: 60px;
        padding-left: 50px;
        margin: 0;
        text-align: left;
    }
    @media #{$mobile} {
        padding: 0 45px;
        margin-top: 5px;
    }
}