.catalogs {
    @include clearfix();  
    // @include container(); 
    margin-bottom: 15px; 
}
.catalog {
    float: left;
    width: 570px;
    margin: 0 40px;
    padding: 50px;
    min-height: 373px;

    background-color: $block-bg;
    @media #{$tablet} {
        float: none;
        width: 100%;
        max-width: 708px;
        margin: 0;
        margin-bottom: 30px;
        min-height: 367px;
    }
    @media #{$mobile} {
        margin-bottom: 20px;
    }
}
.catalog__icon {
    display: inline-block;
    vertical-align: top;
    margin-right: 60px;

    @include size(100px);
    border-radius: 50%;
    background-color: $icon-bg;
    @media #{$tablet}  and (min-width: 321px) {
        display: block;
        float: right;
        @include size(200px);
    }
    & svg {
        display: block;
        margin: 0 auto;
    }
}
.catalog__title {
    display: inline-block;
    vertical-align: top;
    width: 300px;

    font-size: 36px;
    line-height: 1.2;
    color: rgb(17,17,17);
    font-family: "Oswald";
    text-transform: uppercase;
    font-weight: 400;

    @media #{$tablet} and (min-width: 321px) {
        width: 55%;
    }
}
.catalog__description {
    margin-top: 40px;
    margin-bottom: 30px;

    font-size: 16px;
    line-height: 1.4;
    color: rgb(68,68,68);
    font-family: "Arial";
    @media #{$tablet} {
        width: 55%;
    }
    @media #{$mobile} {
        width: 100%;
        border-bottom: 1px solid rgb(203,203,203);
    }
}
.catalog__link {
    text-transform: uppercase;
    color: $link-color;
    text-decoration: none;
}