.contacts {
    width: 100%;
    height: 400px;
}
.contacts__item {
    @include clearfix();
    @include size(570px, 200px);
    margin: 90px 40px;
    background-color: rgb(255, 255, 255);
    @media #{$tablet} {
        @include clearfix();
        @include container();
        width: 100%;
        position: relative;
        top: -200px;
    }
}
.contacts__invite {
    float: left;
    width: 50%;
    padding: 70px 60px;
    text-transform: uppercase;
}
.contacts__adress {
    float: right;
    width: 50%;
    padding: 70px 60px;
    @media #{$tablet} {
        text-align: right;
    }
}