.example {
    @include clearfix();
    // @include container();
    min-height: 646px;
    padding-bottom: 60px;
    // padding: 15px 40px;
    background: $block-bg;
    margin-left:  -70px;
    margin-right: -70px;
    padding-left: 70px;
    padding-right: 70px;
    @media #{$tablet} {
        margin-bottom: -30px;
        margin-left:  -30px;
        margin-right: -30px;
        padding-left: 30px;
        padding-right: 30px;
        padding-bottom: 0;
        background: #ffffff;
    }
    @media #{$mobile} {
        margin-left:  -20px;
        margin-right: -20px;
        margin-bottom: -95px;
        padding-left: 20px;
        padding-right: 20px;
        background: $block-bg;
    }
}
.example__title {
    padding: 0 110px;
    padding-bottom: 68px;
    padding-top: 40px;
    margin: 0;
    margin-right: -70px;
    margin-left: -70px;
    background: rgb(255,255,255);
    font-size: 60px;
    line-height: 1.2;
    color: rgb(17,17,17);
    font-family: "Oswald";
    font-weight: 400;
    @media #{$tablet} {
        padding: 0 70px;
    }
    @media #{$mobile} {
        padding: 0 70px;
        font-size: 36px;
        line-height: 60px;
        background: $block-bg;
    }
}
.example__content {
    position: relative;
    float: left;
    width: 50%;
    min-height: 390px;
    padding: 0 40px;
    @media #{$tablet} {
        float: none;
        width: 100%;
        padding: 0;
    }
    @media #{$mobile} {
        min-height: 350px;
    }
}
.example__text {
    margin-top: 60px;
    margin-bottom: 75px;
    padding-right: 135px;
    font-size: 16px;
    line-height: 1.4;
    color: rgb(68,68,68);
    font-family: "Arial";
    @media #{$tablet} {
        padding: 0;
        margin-top: 55px;
        margin-bottom: 60px;
    }
    @media #{$mobile} {
        margin-top: 25px;
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 18px;
    }
}
.example__num {
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 30px;
    color: rgb(17,17,17);
    font-family: "Oswald";
    text-align: center;
    text-transform: uppercase;
    @media #{$mobile} {
        margin-bottom: 0;
        font-size: 24px;
        line-height: 24px;
    }
}
.example__label {
    display: block;
    padding: 5px;
    width: 137px;
    margin: 0 auto;

    font-size: 14px;
    color: rgb(68,68,68);
    font-family: "Arial";
    text-align: center;
    background: $block-bg;
    @media #{$tablet} {
        background: #ffffff;
    }
    @media #{$mobile} {
        width: 80px;
        font-size: 12px;
        line-height: 12px;
        background: $block-bg;
    }
}
.example__time,
.example__weight {
    float: left;
    @include size(160px, 80px);
    margin-right: 40px;

    border-radius: 3px;
    border: 1px solid #cdcdcd;
    text-align: center;
    @media #{$mobile} {
        @include size(125px, 58px);
        margin-right: 12px;
    }
}
.example__time {
    margin-right: 100px;
    @media #{$mobile} {
        margin-right: 0;
    }
}
.example__costs {
    @include clearfix();
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
    color: rgb(17,17,17);
    font-family: "Oswald";
    text-transform: uppercase;
    @media #{$tablet} {
        position: static;
        float: right;
        width: 190px;
        text-align: right;
    }
    @media #{$mobile} {
        float: none;
        width: 100%;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        padding-top: 90px;
    }
}
// .example__cost {
//     @media #{$tablet} {
//         float: right;
//         width: 175px;
//     }
//     @media #{$mobile} {
//         float: none;
//     }
// }
.example__amount {
    text-align: right;
    // @media #{$tablet} {
    //     float: right;
    //     width: 175px;
    // }
    // @media #{$mobile} {
    //     float: none;
    // }
}
.example__content--right {
    position: relative;
    @media #{$tablet} {
        // min-height: 500px;
        background: $block-bg;
        // padding: 70px 65px;
    }
}
.example__image {
    position: absolute;
    @include size(610px, 500px);
    bottom: 60px;
    left: 0;
    overflow: hidden;
    // background-color: $block-bg;
    @media #{$tablet} {
        bottom: 145px;
        @include size(610px, 500px);
    }
    @media #{$mobile} {
        bottom: 155px;
        @include size(280px, 260px);
    }
    &--left {
        left: -40px;
        width: 364px;
        z-index: 3;
        @media #{$tablet} {
            left: 15px;
            width: 337px;
        }
        @media #{$mobile} {
            left: -20px;
            width: 337px;
        }
    }
    &--right {
        left: 50px;
        bottom: 80px;
        z-index: 2;
        @media #{$tablet} {
            left: 105px;
            bottom: 163px;
        }
        @media #{$mobile} {
            left: 50px;
        }
    }
    img {
        object-fit: contain;
    }
}
.example__toggle {
    position: absolute;
    bottom: -27px;
    @include size(570px, 50px);
    @media #{$tablet} {
        bottom: 80px;
    }
    @media #{$mobile} {
        bottom: 107px;
        left: 50%;
        width: 200px;
        margin-left: -100px;
    }
}
.toggle__scale {
    display: inline-block;
    vertical-align: middle;
    @include size(428px, 6px);
    margin: 0 10px;
    background-color: rgb(220,220,220);
    border-radius: 3px;
    @media #{$mobile} {
        position: relative;
        @include size(90px, 12px);
        padding: 3px;
        background-color: #ffffff;
    }
}
.toggle__control {
    position: absolute;
    top: 0;
    left: 150px;
    @include size(7px);
    box-sizing: content-box;
    border: 14px solid #ffffff; 
    border-radius: 50%;
    background-color: $icon-bg;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
    @media #{$mobile} {
        border: none;
        @include size(50px, 6px);
        border-radius: 10px;
        top: 3px;
        left: 2px;

    }
}
.toggle__label {
    display: inline-block;
    vertical-align: baseline;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
    border-bottom: 1px dotted #000000;
    @media #{$mobile} {
        font-size: 16px;
        border-bottom: none;
    }
}
