.main-footer {
    @include clearfix();
    @include container();
    min-height: 150px;
    @media #{mobile} {
        min-height: 236px;
    }
}
.main-footer__logo,
.main-footer__socials, 
.main-footer__link {
    float: left;
    width: 33.3%;
    @media #{mobile} {
        float: none;
        min-height: 78px;
    }
}
.socials__list {
    margin: 0;
    padding: 0;
    list-style: 0;
}
.socials__item {
    display: inline-block;
    width: 33.2%;
}