.main-header {
    // padding-top: 54px;
    margin-top: 35px;
    min-height: 130px;
    @media #{$tablet} {
        // padding-top: 20px;
        // padding-bottom: 20px;
        margin-top: 5px;
    }
    @media #{$mobile} {
        padding-top: 0;
        padding-bottom: 0;
        min-height: auto;
    }
}
.main-header__nav {
    // width: 100%;
    display: flex;
    margin-left: 20px;
    margin-right: 40px;
    @media #{$tablet} {
        padding: 0;
        margin: 0;
    }
    @media #{$mobile} {
        padding: 0;
        flex-direction: column;
    }
}
.main-header__logo {
    // float: left;
    // width: 50%;
    // min-height: 70px;
    // margin: 0;
    // padding: 0;
    // padding-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    margin-left: 20px;
    padding-left: 0;
    list-style: none;
    @media #{$tablet} {
        width: 27%;
        margin-left: 0;
        // padding: 0;
    }
    @media #{$mobile} {
        position: relative;
        // float: none;
        width: 100%;
        margin-top: 0;
        // background-color: rgb(255,255,255);
        border-bottom: 1px solid rgb(203,203,203);
    }
    .main-header__link {
        display: inline-block;
        &:hover {
            opacity: 0.6;
        }
        &:active {
            opacity: 0.3;
        }
    }
}    
.burger-menu {
    display: none;
    @media #{$mobile} {
        display: block;
        position: absolute;
        top: 20px;
        right: 0;
        @include size(25px, 20px);
        cursor: pointer;
    }
}
.burger-menu__link {
    position: relative;
    display: block;
    @include size(100%);
    z-index: 2;
    &--open {
        &::after {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            @include size(25px, 2px);
            background-color: #000;
            box-shadow: 0px 7px 0px 0px #000,
                        0px 14px 0px 0px #000;
        }
    }
    &--close {
        display: none;
        &::before {
            content: "";
            position: absolute;
            top: 0px;
            right: 0px;
            @include size(25px);
            background: url("../img/m-close.png") no-repeat 50% 50%;
        }
    }
}

.main-header__logo-icon {
    display: inline-block;
    vertical-align: top;
    @include size(250px, 58px);
    background: url("../img/logo-desktop.png") 50% 50% no-repeat;
    background-size: contain;
    @media #{$tablet} {
        background-image: url("../img/logo-tablet.png");
        @include size(173px, 58px);
    }
    @media #{$mobile} {
        @include size(80px, 58px);
        background-image: url("../img/logo-mobile.png");
        background-position-x: 0%;
        background-size: 33px 38px;
    }
}
.main-header__logo-text {
    @media #{$mobile} {
        display: inline-block;
        vertical-align: top;
        @include size(101px, 58px);
        background: url("../img/logo-mobile-header.png") 50% 50% no-repeat;
        background-size: 101px 18px;
    }
}
.main-header__menu {
    // float: left;
    // width: 50%;
    // min-height: 70px;
    // margin: 0;
    // padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 0;
    list-style: none;
    text-align: right;
    // font-size: 0;
    @media #{$tablet} {
        width: 73%;
    }
    @media #{$mobile} {
        display: none;
        float: none;
        width: 100%;
        // background-color: rgb(255,255,255);
    }
}
.main-menu__item {
    // display: inline-block;
    // vertical-align: top;
    // width: 33.3%;
    // min-width: 169px;
    // padding: 15px;
    // padding-top: 20px;
    width: 29%;
    margin: 10px 0 10px 4.33%;
    //     // &:first-child {
        //     // padding-left: 0;
        // }
        // &:last-child {
            //     // padding-right: 0;
            // }
        @media #{$tablet} {
        width: auto;
        margin-left: 7%;
            &:first-child {
            margin-left: 0;
            }
        }
    @media #{$mobile} {
        display: block;
        width: 100%;
        margin: 0;
        padding: 0;
        border-bottom: 1px solid rgb(203,203,203);
        text-align: center;
    }
}
.main-menu__link {
    // display: inline-block;
    // vertical-align: top;
    
    font-size: 20px;
    line-height: 25px;
    color: rgb(17,17,17);
    font-family: "Oswald";
    text-transform: uppercase;
    text-decoration: none;
    @media #{$tablet} {
        font-size: 18px;
    }
    @media #{$mobile} {
        font-size: 20px;
        line-height: 60px;
        font-weight: 700;
    }
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.3;
    }
}
body.home-page .main-menu__link {
    @media (min-width: 769px) {
        color: rgb(255,255,255);
    }
}
.main-menu__link--current {
    border-bottom: 2px solid $icon-bg;
    // padding-bottom: 5px;
    @media #{$mobile} {
        border-bottom: 4px solid $icon-bg;
        border-bottom: none;
    }
}
body.home-page .main-menu__link--current {
    @media (min-width: 769px) {
        border-bottom-color: rgb(255, 255, 255);
    }
}


