.program-selection {
    margin-bottom: 85px;
    @media #{$tablet} {
        margin-bottom: 70px;
    }
    @media #{$mobile} {
        margin-bottom: 30px;
    }
}
.program-selection__title {
    margin-top: 22px;
    padding: 0 40px;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
    @media #{$tablet} {
        padding: 0;
        margin-top: 5px;
        margin-bottom: 35px;
    }
    @media #{$mobile} {
        margin-top: 17px;
        margin-bottom: 10px;
        font-size: 36px;
    }
}
.program-selection__form {
    label {
        color: #222;
        font-family: Oswald;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        @media #{$mobile} {
            font-size: 16px;
        }
    }
    input {
        opacity: 1;
        &:active {
            border-color:  #ffffff;
        }
    }
}
.program-selection__caption {
    color: #111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    span {
        background-color: rgb(255, 255, 255);
        padding: 0 20px;
        display: inline-block;
        @media #{$mobile} {
            padding-left: 0;
        }
    }
    @media #{$mobile} {
        font-size: 24px;
        line-height: 26px;
    }
}
fieldset {
    border: none;
    border-top: 3px solid $icon-bg;
}
.program-selection__button--submit {
    display: inline-block;
    border: none;
    width: 570px;
    margin-left: 35px;
    margin-right: 90px;
    @media #{$tablet} {
        width: 280px;
    }
    @media #{$mobile} {
        height: 40px;
        line-height: 40px;
        margin: 0;
        margin-bottom: 20px;
    }
    &:hover {
        opacity: 0.6;
    }
    &:active {
        opacity: 0.3;
    }
}
.program-selection__obligatory-field {
    font-family: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    @media #{$mobile} {
        display: block;
        text-align: center;
    }
}
