.program-selection {
    margin-bottom: 85px;
}
.program-selection__title {
    margin-top: 45px;
    padding: 0 40px;
    font-family: Oswald;
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
}
.program-selection__form label {
    color: #222;
    font-family: Oswald;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
}
.program-selection__caption {
    color: #111;
    font-family: Oswald;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    span {
        background-color: rgb(255, 255, 255);
        padding: 0 20px;
    }
}
fieldset {
    border: none;
    border-top: 3px solid $icon-bg;
}
.program-selection__button--submit {
    display: inline-block;
    border: none;
    width: 570px;
    margin-left: 35px;
    margin-right: 90px;
}
.program-selection__obligatory-field {
    font-size: "Arial";
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
}
