.selection {
    padding: 90px 80px;
    @media #{$tablet} {
        padding: 40px 90px;
    }
    @media #{$tablet} {
        padding: 40px 0;
    }
}
.selection__title {
    font-size: 60px;
    @media #{$mobile} {
        text-align: center;
        font-size: 36px;
        color: rgb(255, 255, 255);
    }
}
.selection__slogan {
    text-transform: uppercase;
    @media #{$mobile} {
        text-align: center;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
}