
.subtitle {
    @include clearfix();
    // @include container();
    min-height: 560px;
    margin-bottom: 75px;
    @media #{$mobile} {
        margin-left: -20px;
        margin-right: -20px;
        margin-bottom: 0;
        min-height: auto;

    }
}
.subtitle__item {
    float: left;
    width: 50%;
    min-height: 556px;
    padding: 0 40px;
    position: relative;
    @media #{$tablet} {
        float: none;
        width: 100%;
        padding: 0;
    }
    &--left {
        @media #{$tablet} {
            min-height: 500px;
            padding-bottom: 70px;
        }
        @media #{$mobile} {
            background: url("../img/index-background-mobile.jpg") no-repeat 50% 0%;
            background-size: 320px 305px;
        }
    }
    &--right {
        @media #{$tablet} {
            height: auto;
            min-height: 230px;
        }
        @media #{$mobile} {
            min-height:auto;
        }
    }
}
.subtitle__image {
    position: absolute;
    bottom: 0;
    left: 40px;
    width: 680px;
    height: 695px;
    background: $icon-bg url("../img/index-background-desktop.jpg") no-repeat 50% 50%;
    z-index: -10;
    @media #{$tablet} {
        background: none;
        @include size(585px, 620px);
        left: 50%;
        margin-left: -265px;
        top: -300px;
    }
    @media #{$mobile} {
        background: none;
        @include size(305px, 270px);
        margin-left: -155px;
        top: -333px;
        z-index: 9;
    }
    img {
        position: absolute;
        top: 140px;
        right: 327px;
        @media #{$tablet} {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            max-width: 100%;
            height: 100%;
            max-height: 100%;
            object-fit: cover;
        }
    }
}
.selection {
    padding: 90px 78px;
    padding-top: 40px;
    @media #{$tablet} {
        padding: 40px 90px;
        padding-top: 0;
    }
    @media #{$mobile} {
        padding: 25px 20px;
    }
}
.selection__title {
    margin-bottom: 42px;
    font-size: 60px;
    font-weight: 400;
    line-height: 1;
    @media #{$tablet} {
        margin-top: 0;
        margin-bottom: 40px;
    }
    @media #{$mobile} {
        margin-bottom: 25px;
        text-align: center;
        font-size: 36px;
        color: rgb(255, 255, 255);
    }
}
.selection__slogan {
    margin-bottom: 50px;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(17,17,17);
    font-family: "Oswald";
    @media #{$tablet} {
        margin-bottom: 40px;
    }
    @media #{$mobile} {
        text-align: center;
        font-size: 14px;
        color: rgb(255, 255, 255);
    }
}
.selection__button {
    margin-left: 0;
    @media #{$mobile} {
        @include size(280px, 40px);
        position: absolute;
        bottom: 20px;
        left: 50%;

        width: 280px;
        margin-left: -140px;
        font-size: 14px;
        line-height: 40px;
    }
}